/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {
  background-color: #eae2b7;
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
}

/* Headings */
h1,
h2,
h3 {
  font-family: "Playfair Display", Times, serif;
  text-align: center;
}

/* Header */
header {
  text-align: center;
  display: flex;
  flex-direction: row;
}
nav {
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.header-row {
  display: flex;
  flex-direction: row;
}
nav a {
  padding-left: 20px;
  color: #003049;
  font-size: 1.2rem;
}

/* Containers */
div {
  background-color: #eae2b7;
  margin: auto;
  width: 600px;
}
.profile-section {
  display: flex;
  flex-direction: row;
}
.profile-details {
  display: flex;
  flex-direction: column;
}
.profile-heading, .profile-text {
  flex: 1;
  margin: 5px;
  text-align: center;
}
.profile-image {
  border: 2px solid #003049;
  border-radius: 50%;
}
.portfolio-layout {
  display: flex;
}
.portfolio-item {
  flex: 1;
  margin: 5px;
}
.portfolio-description {
  font-size: 14px;
}
article {
  padding: 50px 0;
}
article div {
  text-align: center;
  width: 100%;
}

/* Paragraphs */
p {
  line-height: 1.5;
}

/* Links */
a:link {
  color: #d62828;
}
a:hover {
  color: #f77f00;
}

/* Images */
img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

/* Footer */
footer {
  text-align: center;
}

/* Other page elements */
hr {
  border: 1px solid black;
}
